{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}

        <p>Welcome back,{{ current_user.name }}!</p>

        <div class="row">
            <div class="col-lg-4">
                <div class="card bg-secondary mb-3">
                    <h5 class="card-header"><span class="fas fa-chart-line"></span> Dashboard</h5>
                    <div class="list-group list-group-flush">
                        <a href="{{ url_for('main.dashboard') }}" class="list-group-item list-group-item-action">
                            Branch Dashboard
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            Customers Dashboards
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            Request one
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-secondary mb-3">
                    <h5 class="card-header"><span class="fas fa-table"></span> Bootstrap Table</h5>
                    <div class="list-group list-group-flush">
                        <a href="{{ url_for('main.table') }}" class="list-group-item list-group-item-action">
                            Test page <span class="fas fa-external-link-alt"></span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            ...
                        </a>
                        <a href="#" class="list-group-item list-group-item-action disabled">
                            ...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1 class="display-3">Hello Mars.</h1>
            <h4 class="lead">&nbsp;Welcome landing, Please join us now!</h4>
            <hr class="my-4">
            <a class="btn btn-outline-primary btn-lg" href="{{ url_for('auth.login') }}">Login</a>&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="{{ url_for('auth.register') }}">Register</a>
        </div>

    {% endif %}

{% endblock %}