{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %}Home{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class="jumbotron">
            <h1 class="display-3">Welcome back,{{ current_user.name }}!</h1>
            <h4 class="lead">&nbsp;blah blah blah ...</h4>
            <a class="btn btn-primary btn-lg" href="{{ url_for('auth.logout') }}">Logout</a></p>
    </div>
{% else %}
    <div class="jumbotron">
            <h1 class="display-3">Hello Mars.</h1>
            <h4 class="lead">&nbsp;blah blah blah ...</h4>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('auth.register') }}">Join Now</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('auth.login') }}">Login</a></p>
    </div>

{% endif %}
{% endblock %}