<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天津市</title>
</head>
<body>
<div class="container-fluid" id="map" style="height: 100%"></div>
<script src="https://img.hcharts.cn/highmaps/highmaps.js"></script>
<script src="https://data.jianshukeji.com/geochina/tianjin.js"></script>
<script>
    // 随机数据
    var data = [{"name": "和平区", "value": 100}, {"name": "河东区", "value": 100},
        {"name": "河西区", "value": 100}, {"name": "南开区", "value": 100},
        {"name": "河北区", "value": 100}, {"name": "红桥区", "value": 100},
        {"name": "东丽区", "value": 100}, {"name": "西青区", "value": 100},
        {"name": "津南区", "value": 100}, {"name": "北辰区", "value": 100},
        {"name": "武清区", "value": 100}, {"name": "宝坻区", "value": 100},
        {"name": "滨海新区", "value": 100}, {"name": "宁河区", "value": 100},
        {"name": "静海区", "value": 100}, {"name": "蓟州区", "value": 100}];
    // 初始化图表
    var map = new Highcharts.Map('map', {
        title: {
            text: '天津市'
        },
        colorAxis: {
            min: 0,
            minColor: 'rgb(255,255,255)',
            maxColor: '#5f5f5f'
        },
        series: [{
            data: data,
            name: 'data',
            mapData: Highcharts.maps['cn/tianjin'],
            joinBy: 'name' // 根据 name 属性进行关联
        }]
    });
</script>
</body>
</html>