{% extends 'base.html' %}

{% block title %}Rates{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>Rates
            <small class="text-muted"> Today </small>
        </h2>
    </div>

    <table border="1" class="dataframe">
        <thead>
        <tr style="text-align: right;">
            <th>货币名称</th>
            <th>Currency</th>
            <th>现汇买入价</th>
            <th>现钞买入价</th>
            <th>现汇卖出价</th>
            <th>现钞卖出价</th>
            <th>中行折算价</th>
            <th>发布日期</th>
            <th>发布时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>加拿大元</td>
            <td>CAD</td>
            <td>522.85</td>
            <td>506.34</td>
            <td>526.71</td>
            <td>529.03</td>
            <td>523</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>瑞士法郎</td>
            <td>CHF</td>
            <td>764.1</td>
            <td>740.52</td>
            <td>769.46</td>
            <td>772.76</td>
            <td>762.22</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>欧元</td>
            <td>EUR</td>
            <td>821.59</td>
            <td>796.06</td>
            <td>827.64</td>
            <td>830.31</td>
            <td>819.92</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>英镑</td>
            <td>GBP</td>
            <td>905.67</td>
            <td>877.53</td>
            <td>912.34</td>
            <td>916.37</td>
            <td>904.31</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>港币</td>
            <td>HKD</td>
            <td>90.16</td>
            <td>89.45</td>
            <td>90.52</td>
            <td>90.52</td>
            <td>90.28</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>日元</td>
            <td>JPY</td>
            <td>6.6374</td>
            <td>6.4311</td>
            <td>6.6862</td>
            <td>6.6965</td>
            <td>6.6586</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>韩国元</td>
            <td>KRW</td>
            <td>0.5863</td>
            <td>0.5657</td>
            <td>0.5911</td>
            <td>0.6127</td>
            <td>0.5846</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>新加坡元</td>
            <td>SGD</td>
            <td>507.35</td>
            <td>491.69</td>
            <td>510.91</td>
            <td>513.46</td>
            <td>507.37</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>新台币</td>
            <td>TWD</td>
            <td></td>
            <td>23.11</td>
            <td></td>
            <td>25.04</td>
            <td>23.9</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        <tr>
            <td>美元</td>
            <td>USD</td>
            <td>698.83</td>
            <td>693.15</td>
            <td>701.8</td>
            <td>701.8</td>
            <td>699.69</td>
            <td>2020-07-30 08:36:50</td>
            <td>08:36:50</td>
        </tr>
        </tbody>
    </table>

{% endblock %}