{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}Tools{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('tools.index', 'Tools') }}
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-3">
            <div class="card bg-secondary">
                <div class="card-header">Exchange Rates</div>
                <a href="{{ url_for('tools.rates') }}">
                    <img style="height: 200px; width: 100%; display: block;"
                         src="{{ url_for('static', filename='images/rates.png') }}"
                         alt="Card image">
                </a>
                <div class="card bg-secondary">
                <div class="card-header">Scripts</div>
                <a href="{{ url_for('tools.scripts') }}">
                    <img style="height: 200px; width: 100%; display: block;"
                         src="{{ url_for('static', filename='images/rates.png') }}"
                         alt="Card image">
                </a>
                {#                <div class="card-body">#}
                {#                    <h4 class="card-title">Customers: </h4>#}
                {#                    <p class="card-text">rates</p>#}
                {#                    <a class="btn btn-primary" href="{{ url_for('pre_alert.manage_customer') }}">Manage</a>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
