{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}
{% block title %}Scripts{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('tools.index', 'Tools') }}
            {{ render_breadcrumb_item('tools.scripts', 'Scripts') }}
        </ol>
    </nav>

    <div class="page-header">
        <p>
        <h2>Run Scripts
            <a class="btn btn-primary" href="{{ url_for('tools.myscripts') }}">Run Myscripts</a>
        </h2>
        </p>
    </div>

    <div class="container">
        {% for res in ref %}
            <pre>{{ res }}</pre>
        {% endfor %}
    </div>
{% endblock %}