{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}
{% block title %}Scripts{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('tools.index', 'Tools') }}
            {{ render_breadcrumb_item('tools.scripts', 'Scripts') }}
        </ol>
    </nav>

    <div class="page-header">
        <p>
        <h2>Run Scripts
            <a class="btn btn-primary" href="{{ url_for('tools.myscripts') }}">Run Myscripts</a>
        </h2>
        </p>
    </div>

    <div class="container">

    </div>
    <div class="card text-white bg-dark">
        <div class="card-header">Result</div>
        <div class="card-body">
            <p class="card-text">
                {% for res in ref %}
                    <pre style="color: white">{{ res }}</pre>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}
