<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Mars - {% block title %}{% endblock title %}</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table/dist/bootstrap-table.min.css') }}">
        {{ fontawesome_html() }}
{#        <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>#}
        <script src="https://cdn.bootcss.com/echarts/4.7.0/echarts.min.js"></script>
        <script src="{{ url_for('static', filename='js/dark.js') }}"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/tianjin.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>
    {% endblock head %}
</head>
<body>

<main class="container-fluid">
    {% block content %}{% endblock content %}
    {% block footer %}
        <footer>
            <p class="float-left">
                <small> &copy; 2020 <a href="mailto:stef.fan@expeditrors.com" title="Written by Stef Fan">Contact Stef
                    Fan</a>
                </small>
            </p>
        </footer>
    {% endblock footer %}
</main>
<div id="toast"></div>
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-table/dist/bootstrap-table.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-table/dist/locale/bootstrap-table-en-US.min.js') }}"></script>
    {#    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>#}
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{% endblock %}
</body>
</html>