<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>dashboard tsn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/timer.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.2.0/json2html.min.js"></script>
  <script src="js/ede.js"></script>
  <script src='http://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/TweenMax-latest-beta.js'></script>
  </head>


<body>

   <section> 
    <div class="timer"></div>
	<!-- 在下面的iframe中放置 dashboard地址 -->
    <div class="dashboard">
		<iframe seamless="seamless" frameborder="0" class="viewer pbi-frame" width="100%" height="100%" src="https://app.powerbi.cn/view?r=eyJrIjoiYTAwZTVkNDctMWVlZi00ZDBlLThjOWQtNTg4MjRkMzdjYjFjIiwidCI6IjNhN2Y1MzA4LTU0MDctNDU2Zi1iY2VkLTRlODI0NzJlMWIzZCJ9"></iframe>
    </div>
	
  </section>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
   <script>
      UpdatedTime();
      //document.getElementById("ps").innerHTML = "EDE Data Last Updated: " + data1[0]["LastModified"];
	  // 本网页显示时间 60000
      d = 10000;
      $(function() {
        function timer() {
          var w = window.innerWidth;
          $('.timer').animate({"width":w}, d);
          $('.timer').animate({"width":0}, 0);
        }
        timer();
      });
	  //下一个要打开的html
      //setTimeout("location.href = 'slider_jq.html';",d);
    </script>
  <script  src="js/ede.js"></script>
</body>
</html>


    





