.timer {
    height: 0.5%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(237, 28, 36);
    z-index: 1;
  }
  
  .dashboard {
    height: 99.5%;
    width: 100%;
	position: absolute;
    top: 0.5%;
    left: 0;
    bottom: 0;
  }