{% extends 'admin/index.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Manage Dashboard{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('admin.index', 'Admin Home') }}
            {{ render_breadcrumb_item('admin.manage_dashboards', 'Manage Dashboard') }}
        </ol>
    </nav>

    <div class="page-header">
        <h2>Dashboards
            <small class="text-muted">{{ dashboard_count }}</small>
        </h2>
    </div>

    <!-- Button trigger modal -->
    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDashboard">
            New Dashboard
        </button>
    </p>
    <!-- Modal -->
    <div class="modal fade" id="newDashboard" tabindex="-1" role="dialog" aria-labelledby="newDashboard"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Dashboard</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ render_form(form) }}
                </div>
                {#                <div class="modal-footer">#}
                {#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
                {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                {#                </div>#}
            </div>
        </div>
    </div>

    {% if dashboards %}
        <table class="table-sm table-striped"
               data-toggle="table"
               data-search="true"
               data-show-Columns="true"
               data-pagination="true">
            <thead>
            <tr>
                <th data-sortable="true" data-field="name">Dashboard</th>
                <th data-sortable="true" data-field="desc">Description</th>
                <th data-sortable="true" data-field="category">Category</th>
                <th data-sortable="true" data-field="url">Url</th>
                <th data-sortable="true" data-field="author">Author</th>
                <th data-sortable="true" data-field="show">Show?</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dashboard in dashboards %}
                <tr>
                    <td>{{ dashboard.name }}</td>
                    <td>{{ dashboard.desc }}</td>
                    <td>{{ dashboard.category }}</td>
                    <td>{{ dashboard.url }}</td>
                    <td>{{ dashboard.author }}</td>
                    <td>{{ dashboard.show }}</td>
                    <td>
                        {% if current_user.is_admin %}
                            <a class="btn btn-outline-primary btn-xs"
                               href="#">Edit
                            </a>
                            <form method="post" class="inline" style="display: inline;"
                                  action="#">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" class="btn btn-outline-primary btn-xs" value="Delete"
                                       onclick="return confirm('Are you sure?')">
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="tip"><h5>No dashboard.</h5></div>
    {% endif %}
{% endblock %}
