{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}Pre-Alert{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('pre_alert.index', 'Pre_alert') }}
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-2">
            <div class="card bg-secondary">
                <div class="card-header">Customers Maintain</div>
                <div class="card-body">
                    <h4 class="card-title">Customers: {{ customer_count|default('0') }}</h4>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="{{ url_for('pre_alert.manage_customer') }}">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card bg-secondary">
                <div class="card-header">Template Maintain</div>
                <div class="card-body">
                    <h4 class="card-title">Templates: {{ Template_count|default('0') }}</h4>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="#">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card bg-secondary">
                <div class="card-header">Pre-alerts Maintain</div>
                <div class="card-body">
                    <h4 class="card-title">Pre-alerts: {{ Pre_alert_count|default('0') }}</h4>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="#">Manage</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}