{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}Pre-Alert{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('pre_alert.index', 'Pre_alert') }}
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-2">
            <div class="card bg-secondary">
                <div class="card-header">Customer list</div>
                <div class="card-body">
                    <h4 class="card-title">SETUP</h4>
                    <p class="card-text">Customer: #</p>
                    <a class="btn btn-primary btn-sm" href="{{ url_for('pre_alert.manage_customer') }}">Manage</a>
                    <a class="btn btn-secondary btn-sm" href="#">New Customer</a>

                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card bg-secondary">
                <div class="card-header">Template</div>
                <div class="card-body">
                    <h4 class="card-title">SETUP</h4>
                    <p class="card-text">template: #</p>
                    <a class="btn btn-primary btn-sm" href="#">Manage</a>
                    <a class="btn btn-secondary btn-sm" href="#">New template</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card bg-secondary">
                <div class="card-header">Pre-alert</div>
                <div class="card-body">
                    <h4 class="card-title">SETUP</h4>
                    <p class="card-text">count: #</p>
                    <a class="btn btn-primary btn-sm" href="#">Manage</a>
                    <a class="btn btn-secondary btn-sm" href="#">New alert</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}