{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="float-right">
                {% if current_user.is_authenticated and user == current_user %}
                    <a class="btn btn-outline-primary btn-sm" href="{{ url_for('.edit_profile') }}">Edit profile</a>
                {% endif %}
            </div>
            <h2>{{ user.name }}
                <small class="text-muted">{{ user.username }}</small>
            </h2>

            <h5>
                {% if user.branch %}<p>{{ user.branch }}</p>{% endif %}
                {% if user.department %}<p>{{ user.department }}</p>{% endif %}
                {% if user.role %}<p>{{ user.role.name }}</p>{% endif %}
            </h5>
            <span class="oi oi-calendar"></span>
            Joined {{ moment(user.member_since).format('LL') }}

        </div>

    </div>
{% endblock %}