{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}E-Tax Invoice{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('e_invoice.index', 'E-Tax Invoice') }}
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-2">
            <div class="card bg-secondary">
                <div class="card-header">Customers Maintain</div>
                <div class="card-body">
                    <h4 class="card-title">Customers: {{ customer_count|default('0') }}</h4>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" href="{{ url_for('e_invoice.manage_customer') }}">Manage</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
