{% extends 'e_invoice/index.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Manage Customer{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('e_invoice.index', 'E-Tax Invoice') }}
            {{ render_breadcrumb_item('e_invoice.manage_customer', 'Manage Customer') }}
        </ol>
    </nav>

    <div class="page-header">
        <h2>Customer
            <small class="text-muted">{{ customer_count }}</small>
        </h2>
    </div>

    <!-- Button trigger modal -->


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCustomer">
        New Customer
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bulkUpload">
        Bulk Upload
    </button>

    <!-- Modal new customer-->
    <div class="modal fade" id="newCustomer" tabindex="-1" role="dialog" aria-labelledby="newCustomer"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ render_form(form_new_customer) }}
                </div>
                {#                <div class="modal-footer">#}
                {#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
                {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                {#                </div>#}
            </div>
        </div>
    </div>

    <!-- Modal bulk upload -->
    <div class="modal fade" id="bulkUpload" tabindex="-1" role="dialog" aria-labelledby="bulkUpload"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bulk Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="exampleInputFile" >Bulk Upload new customers. Please download sample file
                        first. </label>
                    <a href="{{ url_for('e_invoice.download_file', filename='Customer_list_template.xlsx') }}">Sample File</a>
                    <form method="post" enctype="multipart/form-data">
                        {{ render_form(upload_form) }}
                    </form>
                    <small id="fileHelp" class="form-text text-muted">Only support xls or xlsx file.</small>
                </div>
                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


    {% if customers %}
        <table class="table-xs table-striped"
               data-toggle="table"
               data-search="true"
               data-show-Columns="true"
               data-pagination="true"
               data-page-size="25"
               style="font-size: 11px;">
            <thead>
            <tr>
                <th data-sortable="true" data-field="gci" data-width="80">Gci</th>
                <th data-sortable="true" data-field="name" data-width="500">Name</th>
                <th data-sortable="true" data-field="branch" data-width="5">Branch</th>
                <th data-sortable="true" data-field="department">Department</th>
                <th data-sortable="true" data-field="user">User</th>
                <th data-sortable="true" data-field="customer_email">Customer Emails</th>
                <th data-sortable="true" data-field="user_email">User Emails</th>
                <th data-sortable="true" data-field="to_user_only" data-width="5">to_user_only?</th>
                <th data-sortable="true" data-field="remark">Remark</th>
                {#                {% if current_user.is_admin %}#}
                <th>Actions</th>
                {#                {% endif %}#}
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.gci }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.branch }}</td>
                    <td>{{ customer.department }}</td>
                    <td>{{ customer.user }}</td>
                    <td>{{ customer.customer_email }}</td>
                    <td>{{ customer.user_email }}</td>
                    <td>{% if customer.to_user_only %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-minus"></i> {% endif %}</td>
                    <td>{{ customer.remark }}</td>
                    {% if current_user.is_admin %}
                        <td>
                            <a class="btn btn-outline-primary btn-xs" title="Edit"
                               href="{{ url_for('e_invoice.edit_customer', customer_id=customer.cid) }}"><i
                                    class="fas fa-edit"></i>
                            </a>
                            <form method="post" class="inline" style="display: inline;"
                                  action="{{ url_for('e_invoice.delete_customer', customer_id=customer.cid) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" class="btn btn-outline-primary btn-xs " value="x" title="Delete"
                                       onclick="return confirm('Are you sure?')">
                            </form>
                            {#                            <form method="post" class="inline" style="display: inline;"#}
{#                                  action="{{ url_for('e_invoice.delete_customer', customer_id=customer.cid) }}">#}
{#                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">#}
{#                                <input type="submit" class="btn btn-outline-primary btn-xs" value="&times;" title="Delete"#}
{#                                       onclick="return confirm('Are you sure?')"/>#}
{#                            </form>#}
                        </td>
                    {% elif current_user.can('E-INVOICE') and customer.user == current_user.username %}
                        <td>
                        <a class="btn btn-outline-primary btn-xs" title="Edit"
                           href="{{ url_for('e_invoice.edit_customer', customer_id=customer.cid) }}"><i
                                class="fas fa-edit"></i>
                        </a>
                        <form method="post" class="inline" style="display: inline;"
                              action="{{ url_for('e_invoice.delete_customer', customer_id=customer.cid) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" class="btn btn-outline-primary btn-xs" value="&times;" title="Delete"
                                   onclick="return confirm('Are you sure?')"/>
                        </form>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="tip"><h5>No customer.</h5></div>
    {% endif %}
{% endblock %}
